<div class="flex flex-col pt-5 gap-y-3">
  <p class="font-bold text-base text-white">More</p>
  <button
    class="flex gap-x-1 text-white font-normal text-sm hover:scale-105 transition duration-500"
  >
    <div class="flex items-center justify-center h-5 w-5 mb-[1px]">
      <img class="h-4 w-4" src="/assets/icon/link.svg" alt="" />
    </div>
    <p>Copy Alena's profile link</p>
  </button>
  <button
    class="flex gap-x-1 text-white font-normal text-sm hover:scale-105 transition duration-500"
  >
    <div class="flex items-center justify-center h-5 w-5">
      <img class="w-full h-full" src="/assets/icon/flag.svg" alt="" />
    </div>
    <p>Report Alena</p>
  </button>
  <button
    class="flex gap-x-1 text-white font-normal text-sm hover:scale-105 transition duration-500"
  >
    <div class="flex items-center justify-center h-5 w-5">
      <img class="w-full h-full" src="/assets/icon/block.svg" alt="" />
    </div>
    <p>Block Alena</p>
  </button>
</div>
