<div id="c-modera-dia" class="dialog hidden z-50 m-auto px-mpd w-full sm:px-0">
  <div
    class="flex flex-col backdrop-blur-40 m-auto rounded-[24px] px-4 py-6 shadow-custom1 bg-custom15 border-custom1 border w-full space-y-3 sm:space-y-4 sm:p-8 sm:max-w-[464px]"
  >
    <p class="text-secondary font-medium text-xl sm:text-2xl">
      Remove Tatiana Passaquindici?
    </p>
    <p
      class="text-custom2 font-normal text-xs leading-[19.2px] sm:leading-[22.4px] sm:text-base"
    >
      They will not be able to follow or view your community updates and and you
      will not see them on your active users list
    </p>

    <button
      id="notify-allow"
      class="outline-none shadow-combined h-[41px] rounded-[40px] text-custom2 bg-error w-full text-xs sm:text-sm transition-transform duration-200 hover:translate-y-[-2px] hover:shadow-lg sm:h-11"
    >
      Proceed
    </button>
    <button
      class="clse-modera-dia outline-none shadow-combined h-[41px] rounded-[40px] text-custom2 border border-custom6 w-full text-xs sm:text-sm transition-transform duration-200 hover:translate-y-[-2px] hover:shadow-lg sm:h-11"
    >
      Cancel
    </button>
  </div>
</div>
