<header
  class="flex justify-between flex-shrink-0 h-12 items-center px-4 sm:px-10 sm:h-20"
>
  <div class="flex items-center">
    <button class="w-[9px] h-[18px] mr-2 sm:h-5 sm:w-[10px]">
      <img class="h-full w-full" src="/assets/icon/nav/back-arrow.svg" alt="" />
    </button>
    <p
      class="font-bold text-white leading-snug text-ellipsis overflow-hidden line-clamp-1 mt-[1px] text-sm sm:mt-0 sm:text-xl"
    >
      24023 Members
    </p>
  </div>
  <button class="h-5 w-5 flex sm:hidden">
    <img class="h-full w-full" src="/assets/icon/home/v-menu.svg" alt="" />
  </button>
  <div class="hidden sm:flex items-center">
    <div
      class="h-10 w-10 flex-shrink-0 flex items-center justify-center rounded-full border border-custom1"
    >
      <img
        class="h-6 w-6"
        src="/assets/icon/nav/creator-match-active.svg"
        alt=""
      />
    </div>
    <button
      class="flex items-center ml-5 flex-shrink-0 truncate bg-secondary h-[38px] px-3 rounded-[32px]"
      id="open-create-post-dialog"
    >
      <img class="h-[10px] w-[10px]" src="/assets/icon/home/add-c.svg" alt="" />
      <p class="font-medium text-base pt-[2px] text-custom9 pl-[9px]">
        Create Post
      </p>
    </button>
  </div>
</header>
