<div class="px-4 sm:px-10">
  <div
    class="flex flex-1 h-9 items-center rounded-[32px] overflow-y-hidden bg-custom8 px-5 sm:h-11 sm:mx-0"
  >
    <div class="flex items-center h-5 flex-1">
      <input
        id="search-input"
        class="w-full h-full text-xs bg-transparent text-custom2 px-0 border-none placeholder-custom4 focus:outline-none focus:ring-0 sm:h-12 sm:text-sm"
        placeholder="Search"
      />
      <div class="flex items-center">
        <div
          class="w-7 h-5 ml-2 border-l border-gray-400 flex justify-end sm:w-8"
        >
          <img
            class="h-full w-5"
            src="/assets/icon/home/ep_search.svg"
            alt="Search"
          />
        </div>
      </div>
    </div>
  </div>
</div>
