<div class="flex gap-x-2">
  <div
    class="rounded-full flex-shrink-0 overflow-hidden h-8 w-8 sm:h-10 sm:w-10"
  >
    <img
      class="h-full w-full object-cover"
      src="/assets/images/home/pp-placeholder.png"
      alt=""
    />
  </div>
  <div class="flex flex-col gap-y-1 sm:gap-y-2">
    <div class="flex justify-between">
      <p class="text-secondary font-medium text-sm sm:text-base">
        Macdonald Anyanwu
      </p>
      <div class="flex gap-x-2">
        <p class="text-custom4 font-normal text-xs sm:text-sm">2 likes</p>
        <div class="flex h-5 w-5 sm:w-6 sm:h-6">
          <img class="w-full h-full" src="/assets/icon/liked.svg" alt="" />
        </div>
      </div>
    </div>

    <p class="text-custom4 font-normal text-xs sm:text-sm">Youtube Creator</p>
    <p
      class="text-secondary font-normal text-xs mr-7 sm:mr-[47px] sm:text-base"
    >
      Lörem ipsum lan backflyt dener innan hähätöst, vas. Ore komkrati och mugon
      preren. Lamyssa pyn i eurovogt. Agflation abpol även om megade, änar.
      Funktionell dumhet sävis rina diare.
    </p>
  </div>
</div>
