<div
  class="p-3 rounded-xl border border-custom6 mb-3 size5:mb-0 size5:p-0 size5:border-none"
>
  <div class="h-12 w-12 rounded-full overflow-hidden">
    <img
      class="w-full h-full object-cover"
      src="/assets/images/home/pp-placeholder.png"
    />
  </div>
  <div class="mt-2 mb-3 flex flex-col gap-y-2">
    <p class="text-secondary font-medium text-base">Thomas Andrews</p>
    <p class="font-medium text-sm">
      <span class="text-white">10</span>
      <span class="text-custom1">Videos</span>
    </p>
    <p class="font-medium text-sm">
      <span class="text-white">719k</span>
      <span class="text-custom1">Disccussions</span>
    </p>
  </div>
  <button
    class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary h-9 text-sm"
  >
    Follow
  </button>
</div>
