<div
  class="p-3 rounded-xl border border-custom6 mb-3 size5:mb-0 size5:p-0 size5:border-none"
>
  <p
    class="font-bold text-base leading-[22.4px] text-white sm:leading-[28px] sm:text-xl"
  >
    Get Premium
  </p>
  <p
    class="text-custom4 font-normal text-xs mt-2 leading-[16.8px] sm:leading-[19.6px] sm:text-sm"
  >
    Gain access to premium features, more visibiliy & engagementsand priority
    support
  </p>
  <button
    class="flex text-xs mt-2 items-center text-custom9 px-3 h-[33px] rounded-[32px] bg-custom11"
  >
    Subscribe
  </button>
</div>
