<div class="mt-4">
  <div class="flex items-center justify-between px-4 sm:px-10">
    <p
      class="font-bold text-base text-white leading-[19.6px] sm:leading-[33.6px] sm:text-2xl"
    >
      Explore communities
    </p>
    <button class="flex items-center">
      <p class="text-custom4 font-medium text-xs sm:text-base">See all</p>
      <div class="w-[9px] h-[18px] ml-2 sm:w-[10px] sm:h-5">
        <img
          class="h-full w-full"
          src="/assets/icon/back-outlined.svg"
          alt=""
        />
      </div>
    </button>
  </div>
</div>

<div
  class="pl-4 bg-custom9 pt-4 my-2 overflow-x-auto flex items-center gap-x-4 text-xs text-custom2 sm:pl-10 sm:text-base"
>
  <p class="font-bold whitespace-nowrap">Arts and Culture</p>
  <p class="whitespace-nowrap">Technology</p>
  <p class="whitespace-nowrap">Health and wellbeing</p>
  <p class="whitespace-nowrap">Motivation</p>
  <p class="whitespace-nowrap">Hobbies</p>
  <p class="whitespace-nowrap">Games</p>
  <p class="whitespace-nowrap">Passion</p>
  <p class="whitespace-nowrap">Religion</p>
  <p class="whitespace-nowrap">Dancing</p>
  <p class="whitespace-nowrap">Writing</p>
  <p class="whitespace-nowrap">Nature</p>
  <p class="whitespace-nowrap">Fashion</p>
  <p class="whitespace-nowrap">Travel</p>
</div>
