<div class="pt-5 pb-5 border-b border-custom6 mb-5">
  <p class="font-bold text-base text-white">Group Rules</p>
  <div class="flex gap-x-1 mt-2 text-white font-normal text-base">
    <p>1.</p>
    <p>No spam content</p>
  </div>

  <div class="flex gap-x-1 mt-2 text-white font-normal text-base">
    <p>2.</p>
    <p>Do not post sexual relating contents</p>
  </div>

  <div class="flex gap-x-1 mt-2 text-white font-normal text-base">
    <p>3.</p>
    <p>Be careful with your choice of word, don't insult anybody</p>
  </div>

  <div class="flex gap-x-1 mt-2 text-white font-normal text-base">
    <p>4.</p>
    <p>Be kind and courteous</p>
  </div>
</div>
