<button
  id="toggleButton"
  class="flex items-center ml-4 mt-4 sm:ml-[30px] sm:mt-3"
>
  <p class="text-custom4 text-xs font-medium sm:text-base">
    Engagement Channels
  </p>
  <img
    id="toggleIcon"
    class="ml-2 transition-transform duration-300"
    src="/assets/icon/drop-down-sleek.svg"
    alt=""
  />
</button>

<div
  id="contentSection"
  class="max-h-0 opacity-0 overflow-hidden transition-all duration-500 ease-in-out"
>
  <div
    class="flex overflow-x-auto whitespace-nowrap text-custom2 mt-2 gap-x-4 ml-4 text-xs sm:ml-[30px] sm:text-base"
  >
    <p># Sketching Beginners</p>
    <p># Digital Art Starters</p>
    <p># Introduction to Oil Painting</p>
    <p># Character Design Basics</p>
    <p># 3D Modeling Novices</p>
    <p># Art Journaling</p>
    <p># Mixed Media Starters</p>
  </div>
</div>
