<div
  class="h-[33px] flex items-end border-b border-custom6 mt-4 px-4 pb-2 sm:px-10 sm:h-[46px]"
>
  <button
    id="vidoBtn"
    class="border-b-2 border-custom2 font-bold text-secondary hover:text-secondary h-[25px] text-xs px-2 sm:text-base sm:h-[30px]"
  >
    Videos
  </button>
  <button
    id="discussionBtn"
    class="mx-3 font-normal hover:text-secondary text-custom2 h-[25px] text-xs sm:text-base px-2 sm:h-[30px]"
  >
    Discussions
  </button>
  <button
    id="abtBtn"
    class="font-normal hover:text-secondary text-custom2 h-[25px] text-xs sm:text-base px-2 sm:h-[30px]"
  >
    About
  </button>
</div>
