<div class="flex justify-between my-2 sm:my-3">
  <p class="font-medium text-custom2 text-xs sm:text-base">
    People based on your recent activity
  </p>
  <button class="font-medium text-custom2 underline text-xs sm:text-base">
    See all
  </button>
</div>
<div class="grid grid-cols-2 gap-4 sm:grid-cols-3 mb-2 sm:mb-3 py-3 sm:py-0">
  <!-- GRID ITEM START -->
  <div class="p-3 rounded-xl border border-custom22 w-full">
    <div class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12">
      <img
        class="h-full w-full object-cover"
        src="/assets/images/home/pp-placeholder.png"
        alt=""
      />
    </div>

    <div class="mt-2 mb-3 flex flex-col gap-y-1">
      <p class="text-secondary font-medium text-xs sm:text-base">
        Corey Vaccaro
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">10</span>
        <span class="text-custom1">Videos</span>
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">719k</span>
        <span class="text-custom1">Disccussions</span>
      </p>
    </div>
    <button
      class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
    >
      Follow
    </button>
    <p
      class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
    >
      Super engagement request
    </p>
  </div>
  <!-- GRID ITEM END -->

  <!-- GRID ITEM START -->
  <div class="p-3 rounded-xl border border-custom22 w-full">
    <div class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12">
      <img
        class="h-full w-full object-cover"
        src="/assets/images/home/pp-placeholder.png"
        alt=""
      />
    </div>

    <div class="mt-2 mb-3 flex flex-col gap-y-1">
      <p class="text-secondary font-medium text-xs sm:text-base">
        Corey Vaccaro
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">10</span>
        <span class="text-custom1">Videos</span>
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">719k</span>
        <span class="text-custom1">Disccussions</span>
      </p>
    </div>
    <button
      class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
    >
      Follow
    </button>
    <p
      class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
    >
      Super engagement request
    </p>
  </div>
  <!-- GRID ITEM END -->

  <!-- GRID ITEM START -->
  <div class="p-3 rounded-xl border border-custom22 w-full">
    <div class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12">
      <img
        class="h-full w-full object-cover"
        src="/assets/images/home/pp-placeholder.png"
        alt=""
      />
    </div>

    <div class="mt-2 mb-3 flex flex-col gap-y-1">
      <p class="text-secondary font-medium text-xs sm:text-base">
        Corey Vaccaro
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">10</span>
        <span class="text-custom1">Videos</span>
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">719k</span>
        <span class="text-custom1">Disccussions</span>
      </p>
    </div>
    <button
      class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
    >
      Follow
    </button>
    <p
      class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
    >
      Super engagement request
    </p>
  </div>
  <!-- GRID ITEM END -->

  <!-- GRID ITEM START -->
  <div class="p-3 rounded-xl border border-custom22 w-full">
    <div class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12">
      <img
        class="h-full w-full object-cover"
        src="/assets/images/home/pp-placeholder.png"
        alt=""
      />
    </div>

    <div class="mt-2 mb-3 flex flex-col gap-y-1">
      <p class="text-secondary font-medium text-xs sm:text-base">
        Corey Vaccaro
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">10</span>
        <span class="text-custom1">Videos</span>
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">719k</span>
        <span class="text-custom1">Disccussions</span>
      </p>
    </div>
    <button
      class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
    >
      Follow
    </button>
    <p
      class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
    >
      Super engagement request
    </p>
  </div>
  <!-- GRID ITEM END -->

  <!-- GRID ITEM START -->
  <div class="p-3 rounded-xl border border-custom22 w-full">
    <div class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12">
      <img
        class="h-full w-full object-cover"
        src="/assets/images/home/pp-placeholder.png"
        alt=""
      />
    </div>

    <div class="mt-2 mb-3 flex flex-col gap-y-1">
      <p class="text-secondary font-medium text-xs sm:text-base">
        Corey Vaccaro
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">10</span>
        <span class="text-custom1">Videos</span>
      </p>
      <p class="font-medium text-xs sm:text-sm">
        <span class="text-white">719k</span>
        <span class="text-custom1">Disccussions</span>
      </p>
    </div>
    <button
      class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
    >
      Follow
    </button>
    <p
      class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
    >
      Super engagement request
    </p>
  </div>
  <!-- GRID ITEM END -->
</div>
