<div class="w-full">
  <div class="h-[104px] w-full border-b border-custom6 sm:h-[199.68px]">
    <img
      class="h-full w-full object-cover"
      src="/assets/images/home/com-place-holder.png"
      alt=""
    />
  </div>
  <div class="relative flex justify-between w-full px-4 sm:px-8">
    <div
      class="flex gap-x-3 flex-col items-start -mt-[21px] sm:items-end sm:flex-row"
    >
      <div
        class="border border-secondary rounded-full flex-shrink-0 overflow-hidden mb-4 h-16 w-16 sm:h-[100px] sm:w-[100px] sm:mb-0"
      >
        <img
          class="h-full w-full object-cover"
          src="/assets/images/home/place-holder.svg"
          alt=""
        />
      </div>

      <div class="flex w-full -mb-[4px] justify-between">
        <div class="">
          <div class="flex items-center gap-x-1">
            <p class="text-white font-bold mt-[1px] text-sm sm:text-xl">
              Alena Dokidis
            </p>
            <div class="h-[18px] w-[18px] sm:h-5 sm:w-5">
              <img
                class="w-full h-full"
                src="/assets/icon/verified.svg"
                alt=""
              />
            </div>
          </div>

          <p
            class="text-custom4 font-medium text-xs mt-[1px] sm:mt-0 sm:text-sm"
          >
            @macdonald222
          </p>
          <div class="flex gap-x-3 mt-[2px] sm:mt-[1px]">
            <div class="flex gap-x-1">
              <p class="font-medium text-xs text-white sm:text-base">2.2M</p>
              <p class="font-normal text-xs pt-[1px] text-custom1 sm:text-sm">
                Followers
              </p>
            </div>
            <div class="flex gap-x-1">
              <p class="font-medium text-white text-xs sm:text-base">12k</p>
              <p class="font-normal text-xs pt-[1px] text-custom1 sm:text-sm">
                Following
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="absolute right-4 top-[2px] flex justify-end mt-2 gap-x-3 sm:static"
    >
      <button
        class="flex items-center justify-center flex-shrink-0 rounded-full border border-custom6 w-9 h-9 sm:h-10 sm:w-10"
      >
        <img
          class="h-5 w-5"
          src="/assets/icon/nav/messages-inactive.svg"
          alt=""
        />
      </button>
      <button
        class="rounded-[32px] flex-shrnk-0 px-3 border border-custom6 text-secondary text-xs h-[33px] sm:h-[38px] 2xl:text-base"
      >
        Follow
      </button>
      <button
        class="rounded-[32px] flex-shrink-0 px-3 bg-custom14 text-secondary font-medium text-xs h-[33px] sm:h-[38px] 2xl:text-base"
      >
        Engagement Request
      </button>
    </div>
  </div>
  <div class="px-4 mt-3 sm:px-8">
    <p
      class="text-xs font-normal text-custom2 border border-custom6 p-2 rounded-lg sm:text-sm"
    >
      Designer, Creative thinker. Passionate about crafting meaningful
      experience. Explorer of ideas, art and life little details
    </p>
    <div
      class="flex gap-y-2 gap-x-3 mt-3 flex-col items-start sm:items-center sm:flex-row"
    >
      <p class="font-medium text-xs text-custom4 flex-shrink-0 sm:text-sm">
        Alena's Social links
      </p>
      <div class="flex flex-wrap gap-3">
        <button
          class="h-[26px] flex items-center rounded-[40px] gap-x-2 px-2 border border-custom6 sm:px-3 sm:h-9"
        >
          <div class="h-[18px] w-[18px] sm:h-5 sm:w-5">
            <img
              class="h-full w-full"
              src="/assets/icon/socials/instagram.svg"
              alt=""
            />
          </div>
          <p class="text-secondary font-medium text-xs sm:text-sm">Instagram</p>
          <div class="h-4 w-4 sm:h-5 sm:w-5">
            <img
              class="h-full w-full"
              src="/assets/icon/arrow-outward.svg"
              alt=""
            />
          </div>
        </button>
        <button
          class="h-[26px] flex items-center rounded-[40px] gap-x-2 px-2 border border-custom6 sm:px-3 sm:h-9"
        >
          <div class="h-[18px] w-[25.8px] sm:h-5 sm:w-[28.33px]">
            <img
              class="h-full w-full"
              src="/assets/icon/socials/youtube.svg"
              alt=""
            />
          </div>
          <p class="text-secondary font-medium text-xs sm:text-sm">YouTube</p>
          <div class="h-4 w-4 sm:h-5 sm:w-5">
            <img
              class="h-full w-full"
              src="/assets/icon/arrow-outward.svg"
              alt=""
            />
          </div>
        </button>
        <button
          class="h-[26px] flex items-center rounded-[40px] gap-x-2 px-2 border border-custom6 sm:px-3 sm:h-9"
        >
          <div class="h-[18px] w-4 sm:h-5 sm:w-[17.66px]">
            <img
              class="h-full w-full"
              src="/assets/icon/socials/tiktok.svg"
              alt=""
            />
          </div>
          <p class="text-secondary font-medium text-xs sm:text-sm">TikTok</p>
          <div class="h-4 w-4 sm:h-5 sm:w-5">
            <img
              class="h-full w-full"
              src="/assets/icon/arrow-outward.svg"
              alt=""
            />
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
