<div
  id="activeUserSection"
  class="mt-6 transition-opacity duration-1000 px-4 sm:mt-5 sm:px-10"
>
  <!-- MODERATORS START -->
  <div class="flex justify-between my-1 sm:my-3">
    <p class="font-medium text-custom2 text-sm sm:text-base">Moderators</p>
    <p class="font-medium text-custom2 text-sm sm:text-xl">3</p>
  </div>

  <div
    class="grid grid-cols-2 overflow-hidde gap-4 sm:grid-cols-3 mb-2 sm:mb-3 py-3 sm:py-0"
  >
    <!-- GRID ITEM START -->
    <div class="p-3 rounded-xl border border-custom22">
      <div class="flex justify-between items-center">
        <div
          class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12"
        >
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/pp-placeholder.png"
            alt=""
          />
        </div>

        <div class="relative group">
          <button
            class="menuButton h-5 w-5 flex items-center justify-center mt-2"
          >
            <img
              class="h-full w-full"
              src="/assets/icon/home/v-menu.svg"
              alt="Menu"
            />
          </button>
          <div
            class="tooltip absolute -left-32 top-7 z-10 mt-2 opacity-0 invisible font-normal text-base transform scale-95 transition-all duration-300 ease-out bg-custom9 text-custom2 px-3 py-2 rounded-xl border border-custom6 shadow-combined"
          >
            <button
              class="cursor-pointer w-full flex items-center h-[46px] truncate border-b border-custom6"
            >
              Remove this user
            </button>
            <button
              class="assignModeratorBtn w-full cursor-pointer flex items-center h-[46px] truncate"
            >
              Assign as moderator
            </button>
          </div>
        </div>
      </div>

      <div class="mt-2 mb-3 flex flex-col gap-y-1">
        <p class="text-secondary font-medium text-xs sm:text-base">
          Corey Vaccaro
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">10</span>
          <span class="text-custom1">Videos</span>
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">719k</span>
          <span class="text-custom1">Disccussions</span>
        </p>
      </div>
      <button
        class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
      >
        Follow
      </button>
      <p
        class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
      >
        Super engagement request
      </p>
    </div>
    <!-- GRID ITEM END -->
    <!-- GRID ITEM START -->
    <div class="p-3 rounded-xl border border-custom22">
      <div class="flex justify-between items-center">
        <div
          class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12"
        >
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/pp-placeholder.png"
            alt=""
          />
        </div>

        <div class="relative group">
          <button
            class="menuButton h-5 w-5 flex items-center justify-center mt-2"
          >
            <img
              class="h-full w-full"
              src="/assets/icon/home/v-menu.svg"
              alt="Menu"
            />
          </button>
          <div
            class="tooltip absolute -left-32 top-7 z-10 mt-2 opacity-0 invisible font-normal text-base transform scale-95 transition-all duration-300 ease-out bg-custom9 text-custom2 px-3 py-2 rounded-xl border border-custom6 shadow-combined"
          >
            <button
              class="cursor-pointer w-full flex items-center h-[46px] truncate border-b border-custom6"
            >
              Remove this user
            </button>
            <button
              class="assignModeratorBtn w-full cursor-pointer flex items-center h-[46px] truncate"
            >
              Assign as moderator
            </button>
          </div>
        </div>
      </div>

      <div class="mt-2 mb-3 flex flex-col gap-y-1">
        <p class="text-secondary font-medium text-xs sm:text-base">
          Corey Vaccaro
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">10</span>
          <span class="text-custom1">Videos</span>
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">719k</span>
          <span class="text-custom1">Disccussions</span>
        </p>
      </div>
      <button
        class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
      >
        Follow
      </button>
      <p
        class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
      >
        Super engagement request
      </p>
    </div>
    <!-- GRID ITEM END -->
    <!-- GRID ITEM START -->
    <div class="p-3 rounded-xl border border-custom22">
      <div class="flex justify-between items-center">
        <div
          class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12"
        >
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/pp-placeholder.png"
            alt=""
          />
        </div>

        <div class="relative group">
          <button
            class="menuButton h-5 w-5 flex items-center justify-center mt-2"
          >
            <img
              class="h-full w-full"
              src="/assets/icon/home/v-menu.svg"
              alt="Menu"
            />
          </button>
          <div
            class="tooltip absolute z-50 -left-32 top-7 mt-2 opacity-0 invisible font-normal text-base transform scale-95 transition-all duration-300 ease-out bg-custom9 text-custom2 px-3 py-2 rounded-xl border border-custom6 shadow-combined"
          >
            <button
              class="cursor-pointer w-full flex items-center h-[46px] truncate border-b border-custom6"
            >
              Remove this user
            </button>
            <button
              class="assignModeratorBtn w-full cursor-pointer flex items-center h-[46px] truncate"
            >
              Assign as moderator
            </button>
          </div>
        </div>
      </div>

      <div class="mt-2 mb-3 flex flex-col gap-y-1">
        <p class="text-secondary font-medium text-xs sm:text-base">
          Corey Vaccaro
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">10</span>
          <span class="text-custom1">Videos</span>
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">719k</span>
          <span class="text-custom1">Disccussions</span>
        </p>
      </div>
      <button
        class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
      >
        Follow
      </button>
      <p
        class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
      >
        Super engagement request
      </p>
    </div>
    <!-- GRID ITEM END -->
  </div>
  <!-- MODERATORS END -->

  <!-- MEMBERS START -->
  <div class="flex justify-between mb-1 mt-4 sm:mt-[23px] sm:mb-4">
    <p class="font-medium text-custom2 text-sm sm:text-base">Members</p>
    <p class="font-medium text-custom2 text-sm sm:text-xl">3</p>
  </div>

  <div
    class="grid grid-cols-2 overflow-hidde gap-4 sm:grid-cols-3 mb-2 sm:mb-3 py-3 sm:py-0"
  >
    <!-- GRID ITEM START -->
    <div class="p-3 rounded-xl border border-custom22">
      <div class="flex justify-between">
        <div
          class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12"
        >
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/pp-placeholder.png"
            alt=""
          />
        </div>

        <div class="relative group">
          <button
            class="menuButton h-5 w-5 flex items-center justify-center mt-2"
          >
            <img
              class="h-full w-full"
              src="/assets/icon/home/v-menu.svg"
              alt="Menu"
            />
          </button>
          <div
            class="tooltip absolute -left-32 top-7 z-10 mt-2 opacity-0 invisible font-normal text-base transform scale-95 transition-all duration-300 ease-out bg-custom9 text-custom2 px-3 py-2 rounded-xl border border-custom6 shadow-combined"
          >
            <button
              class="cursor-pointer w-full flex items-center h-[46px] truncate border-b border-custom6"
            >
              Remove this user
            </button>
            <button
              class="assignModeratorBtn w-full cursor-pointer flex items-center h-[46px] truncate"
            >
              Assign as moderator
            </button>
          </div>
        </div>
      </div>

      <div class="mt-2 mb-3 flex flex-col gap-y-1">
        <p class="text-secondary font-medium text-xs sm:text-base">
          Corey Vaccaro
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">10</span>
          <span class="text-custom1">Videos</span>
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">719k</span>
          <span class="text-custom1">Disccussions</span>
        </p>
      </div>
      <button
        class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
      >
        Follow
      </button>
      <p
        class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
      >
        Super engagement request
      </p>
    </div>
    <!-- GRID ITEM END -->
    <!-- GRID ITEM START -->
    <div class="p-3 rounded-xl border border-custom22">
      <div class="flex justify-between">
        <div
          class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12"
        >
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/pp-placeholder.png"
            alt=""
          />
        </div>

        <div class="relative group">
          <button
            class="menuButton h-5 w-5 flex items-center justify-center mt-2"
          >
            <img
              class="h-full w-full"
              src="/assets/icon/home/v-menu.svg"
              alt="Menu"
            />
          </button>
          <div
            class="tooltip absolute -left-32 top-7 z-10 mt-2 opacity-0 invisible font-normal text-base transform scale-95 transition-all duration-300 ease-out bg-custom9 text-custom2 px-3 py-2 rounded-xl border border-custom6 shadow-combined"
          >
            <button
              class="cursor-pointer w-full flex items-center h-[46px] truncate border-b border-custom6"
            >
              Remove this user
            </button>
            <button
              class="assignModeratorBtn w-full cursor-pointer flex items-center h-[46px] truncate"
            >
              Assign as moderator
            </button>
          </div>
        </div>
      </div>

      <div class="mt-2 mb-3 flex flex-col gap-y-1">
        <p class="text-secondary font-medium text-xs sm:text-base">
          Corey Vaccaro
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">10</span>
          <span class="text-custom1">Videos</span>
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">719k</span>
          <span class="text-custom1">Disccussions</span>
        </p>
      </div>
      <button
        class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
      >
        Follow
      </button>
      <p
        class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
      >
        Super engagement request
      </p>
    </div>
    <!-- GRID ITEM END -->
    <!-- GRID ITEM START -->
    <div class="p-3 rounded-xl border border-custom22">
      <div class="flex justify-between">
        <div
          class="rounded-full mb-2 overflow-hidden h-10 w-10 sm:w-12 sm:h-12"
        >
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/pp-placeholder.png"
            alt=""
          />
        </div>

        <div class="relative group">
          <button
            class="menuButton h-5 w-5 flex items-center justify-center mt-2"
          >
            <img
              class="h-full w-full"
              src="/assets/icon/home/v-menu.svg"
              alt="Menu"
            />
          </button>
          <div
            class="tooltip absolute z-50 -left-32 top-7 mt-2 opacity-0 invisible font-normal text-base transform scale-95 transition-all duration-300 ease-out bg-custom9 text-custom2 px-3 py-2 rounded-xl border border-custom6 shadow-combined"
          >
            <button
              class="cursor-pointer w-full flex items-center h-[46px] truncate border-b border-custom6"
            >
              Remove this user
            </button>
            <button
              class="assignModeratorBtn w-full cursor-pointer flex items-center h-[46px] truncate"
            >
              Assign as moderator
            </button>
          </div>
        </div>
      </div>

      <div class="mt-2 mb-3 flex flex-col gap-y-1">
        <p class="text-secondary font-medium text-xs sm:text-base">
          Corey Vaccaro
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">10</span>
          <span class="text-custom1">Videos</span>
        </p>
        <p class="font-medium text-xs sm:text-sm">
          <span class="text-white">719k</span>
          <span class="text-custom1">Disccussions</span>
        </p>
      </div>
      <button
        class="flex items-center justify-center w-full rounded-[32px] bg-custom3 font-bold text-secondary mb-2 text-xs sm:text-sm h-[33px] sm:h-9"
      >
        Follow
      </button>
      <p
        class="underline font-medium text-custom34 text-ellipsis overflow-hidden line-clamp-1 text-xs sm:text-sm"
      >
        Super engagement request
      </p>
    </div>
    <!-- GRID ITEM END -->
  </div>
  <!-- MEMBERS END -->
</div>
