<div
  id="back-drop-4"
  class="inset-y-0 fixed hidden z-40 h-screen w-screen bg-custom12 backdrop-blur-8 top-0 left-0"
></div>
<div id="modera-dia" class="dialog hidden z-50 m-auto px-mpd w-full sm:px-0">
  <div
    class="backdrop-blur-40 m-auto rounded-[24px] px-3 py-5 shadow-custom1 bg-custom15 border-custom1 border w-full sm:p-8 sm:max-w-[464px]"
  >
    <p
      class="text-center font-medium text-secondary text-base mb-3 sm:mb-[18px] sm:text-xl"
    >
      Assign as moderator
    </p>
    <p
      class="max-w-[306px] mx-auto text-center text-secondary mb-3 text-base sm:mb-4 leading-[22.4px] sm:text-2xl sm:leading-[33.6px]"
    >
      Do you want to promote this user to moderator?
    </p>
    <div class="rounded-full mx-auto overflow-hidden mb-2 h-16 w-16">
      <img
        class="object-cover h-full w-full"
        src="/assets/images/home/pp-placeholder.png"
        alt=""
      />
    </div>
    <p class="font-medium text-secondary text-center text-sm sm:text-base">
      Tatiana Passaquindici
    </p>
    <button
      class="flex items-center justify-center mt-1 border border-custom1 rounded-[20px] flex-shrink-0 text-success mx-auto h-[30px] px-3 font-medium text-xs sm:text-sm"
    >
      Moderator
    </button>
    <div class="border-t border-custom1 mt-3 sm:mt-4">
      <p class="font-medium text-secondary mt-3 text-sm sm:mt-5 sm:text-xl">
        Moderator's role
      </p>
      <div class="flex items-center gap-x-2 h-7 px-1 sm:h-[38px] sm:px-2">
        <div class="h-5 w-5">
          <img class="h-full w-full" src="/assets/icon/check.svg" alt="" />
        </div>
        <p class="font-medium text-custom2 mt-[1px] text-base">
          Block/ban users
        </p>
      </div>
      <div class="flex items-center gap-x-2 h-7 px-1 sm:h-[38px] sm:px-2">
        <div class="h-5 w-5">
          <img class="h-full w-full" src="/assets/icon/check.svg" alt="" />
        </div>
        <p class="font-medium text-custom2 mt-[1px] text-base">
          Edit group details
        </p>
      </div>
      <div class="flex items-center gap-x-2 h-7 px-1 sm:h-[38px] sm:px-2">
        <div class="h-5 w-5">
          <img class="h-full w-full" src="/assets/icon/check.svg" alt="" />
        </div>
        <p class="font-medium text-custom2 mt-[1px] text-base">
          Flag contents as inappropriate
        </p>
      </div>
    </div>

    <div class="flex gap-x-4 h-[41px] mb-4 mt-3 sm:mb-7 sm:mt-5 sm:h-11">
      <button
        class="clse-modera-dia outline-none shadow-combined h-full rounded-[40px] text-custom2 border border-custom6 w-full text-xs sm:text-sm sm:mt-5 transition-transform duration-200 hover:translate-y-[-2px] hover:shadow-lg"
      >
        Cancel
      </button>
      <button
        id="proceed-mde-btn"
        class="outline-none shadow-combined h-full rounded-[40px] text-custom2 bg-custom3 w-full text-xs sm:text-sm sm:mt-5 transition-transform duration-200 hover:translate-y-[-2px] hover:shadow-lg"
      >
        Proceed
      </button>
    </div>
  </div>
</div>
