<div
  id="back-drop-7"
  class="inset-y-0 fixed hidden z-40 h-screen w-screen bg-custom12 backdrop-blur-sm card-shadow top-0 left-0"
></div>
<div
  id="if-mobile-drawup2"
  class="h-[258px] hidden sup-eng-dialog dialog z-50 m-auto w-full p-0 border-[0.5px] backdrop-blur-40 pt-2 px-4 rounded-tl-3xl rounded-tr-3xl overflow-y-auto bg-custom32"
>
  <div
    class="block mx-auto w-[120px] h-1 rounded-xl bg-custom4 mb-3 sm:hidden"
  ></div>
  <div class="h-12 w-12 mb-2 mx-auto rounded-full overflow-hidden">
    <img
      class="h-full w-full"
      src="/assets/images/home/pp-placeholder.png"
      alt=""
    />
  </div>
  <p class="font-medium text-secondary text-center text-base">
    Tatiana Passaquindici
  </p>
  <button
    class="mt-6 w-full h-[46px] flex items-center font-normal text-base text-secondary border-b border-custom6"
  >
    Remove this user
  </button>
  <button
    class="assignModeratorBtn w-full h-[46px] flex items-center font-normal text-base text-secondary"
  >
    Assign as moderator
  </button>
</div>
