<nav class="flex flex-col w-full">
  <div class="h-14 w-14 mb-[15px]">
    <img class="w-full h-full" src="/assets/logo/logo.svg" />
  </div>
  <div class="flex flex-col space-y-3 pb-3 border-b border-custom6">
    <div class="pl-5 flex items-center gap-x-2 h-[46px]">
      <button class="w-[10px] h-5">
        <img
          class="h-full w-full"
          src="/assets/icon/back-outlined-left.svg"
          alt=""
        />
      </button>
      <p class="font-medium text-secondary text-base mt-[1px]">
        Back to Homepage
      </p>
    </div>

    <div class="px-5 h-[68px] flex items-center justify-between">
      <div class="flex gap-x-2 items-center">
        <div class="h-10 w-10 rounded-full overflow-hidden">
          <img
            class="w-full h-full object-cover overflow-hidden"
            src="/assets/images/home/pp-placeholder.png"
            alt=""
          />
        </div>
        <div class="flex flex-col gap-y-[2px]">
          <p class="text-secondary font-medium text-base">Newbie Artists</p>
          <p class="font-normal text-custom2 text-sm">24k Members</p>
        </div>
      </div>
      <button class="w-4 h-4">
        <img
          class="h-full w-full"
          src="/assets/icon/drop-down-sleek-2.svg"
          alt=""
        />
      </button>
    </div>
    <div class="pl-5 flex items-center h-[46px] gap-x-2">
      <div class="h-5 w-5">
        <img class="h-full w-full" src="/assets/icon/info.svg" alt="" />
      </div>
      <p class="font-normal text-white text-base">About</p>
    </div>
    <div
      class="pl-5 bg-custom6 border-r-[3px] border-custom3 gap-x-2 flex items-center h-[48px]"
    >
      <div class="h-6 w-6">
        <img
          class="h-full w-full"
          src="/assets/icon/nav/community-inactive.svg"
          alt=""
        />
      </div>
      <p class="font-bold text-white text-base">Members</p>
    </div>
  </div>
  <a href="#" class="flex items-center justify-between h-[60px] px-5">
    <div class="flex items-center gap-x-2">
      <div class="h-5 w-5">
        <img class="h-full w-full" src="/assets/icon/chat.svg" />
      </div>
      <p
        class="font-medium mt-[2px] text-base uppercase text-custom7 leading-[22.4px]"
      >
        general chat
      </p>
    </div>

    <p
      class="py-1 px-2 rounded-[34px] text-sm font-medium text-custom3 bg-custom35"
    >
      2 new
    </p>
  </a>
  <a
    class="flex items-center gap-x-2 justify-between h-[46px] pl-10 pr-[25px]"
    href="#"
  >
    <p class="font-medium text-custom4 text-base">Engagement Channels</p>
    <button class="w-4 h-4">
      <img
        class="h-full w-full"
        src="/assets/icon/drop-down-sleek-2.svg"
        alt=""
      />
    </button>
  </a>
  <div class="pl-[40.4px] pr-[2.5px]">
    <a
      class="flex items-center gap-x-2 justify-between font-medium text-white text-base h-[54px]"
      href="#"
    >
      Sketching Beginners
    </a>
    <a
      class="flex items-center gap-x-2 justify-between font-medium text-white text-base h-[54px]"
      href="#"
    >
      Digital Art Starters
    </a>
    <a
      class="flex items-center gap-x-2 justify-between font-medium text-white text-base h-[54px]"
      href="#"
    >
      Introduction to Oil Painting
    </a>
    <a
      class="flex items-center gap-x-2 justify-between font-medium text-white text-base h-[54px]"
      href="#"
    >
      Character Design Basics
    </a>
    <a
      class="flex items-center gap-x-2 justify-between font-medium text-white text-base h-[54px]"
      href="#"
    >
      3D Modeling Novices
    </a>
    <a
      class="flex items-center gap-x-2 justify-between font-medium text-white text-base h-[54px]"
      href="#"
    >
      Art Journaling
    </a>
    <a
      class="flex items-center gap-x-2 justify-between font-medium text-white text-base h-[54px]"
      href="#"
    >
      Mixed Media Starters
    </a>
    <button class="gap-x-3 h-12 flex items-center">
      <div class="flex items-center justify-center ml-2 h-4 w-4">
        <img class="h-full w-full" src="/assets/icon/home/add.svg" alt="" />
      </div>
      <p class="font-medium text-white text-base">Add new channel</p>
    </button>
  </div>

  <div class="pl-[40.4px] pr-[2.5px]">
    <p
      class="flex items-center gap-x-2 justify-between font-medium text-custom4 text-base h-[46px]"
    >
      Your Communities
    </p>
    <button class="open-create-com-dia gap-x-3 h-14 flex items-center">
      <div class="flex items-center justify-center ml-2 h-5 w-5">
        <img class="h-full w-full" src="/assets/icon/home/add.svg" alt="" />
      </div>
      <p class="font-normal text-custom2 text-base">Create a community</p>
    </button>
  </div>
  <div class="h-16 w-5"></div>
</nav>
