<div>
  <div class="h-[104px] w-full border-b border-custom6 sm:h-[199.68px]">
    <img
      class="h-full w-full object-cover"
      src="/assets/images/home/com-place-holder.png"
      alt=""
    />
  </div>
  <div
    class="flex h-[37px] items-center px-4 mt-2 justify-between sm:px-10 sm:h-[54px]"
  >
    <div>
      <p
        class="text-white font-bold text-sm leading-[19.6px] sm:text-2xl sm:leading-[33.6px]"
      >
        Newbie Artist
      </p>
      <p class="text-custom4 font-medium text-xs sm:text-sm">24,023 Members</p>
    </div>
    <div class="flex">
      <button
        class="flex items-center h-8 w-8 justify-center border border-custom1 rounded-full sm:h-10 sm:w-10"
      >
        <img
          class="w-[15px] h-[6.8px] sm:w-[18px] sm:h-[8.16px]"
          src="/assets/icon/link.svg"
          alt=""
        />
      </button>
      <button
        class="flex items-center h-8 w-8 mx-3 justify-center border border-custom1 rounded-full sm:mx-4 sm:h-10 sm:w-10"
      >
        <img
          class="w-5 h-5 sm:w-6 sm:h-6"
          src="/assets/icon/notification-active.svg"
          alt=""
        />
      </button>
      <button
        class="border border-custom4 h-[33px] px-3 rounded-[32px] text-secondary flex items-center justify-center font-medium text-xs sm:text-base sm:h-[38px]"
      >
        Following
      </button>
    </div>
  </div>
</div>
