<div
  id="discSection"
  class="content hidden opacity-0 transition-opacity duration-1000 mt-4 h-full flex-1 px-4 sm:px-[30px]"
>
  <!-- DISCUSSION CARD -->
  <div class="flex mb-5">
    <div
      class="rounded flex-shrink-0 overflow-hidden mr-1 h-6 w-6 sm:h-10 sm:w-10"
    >
      <img
        class="h-full w-full object-cover"
        src="/assets/images/home/placeholder-2.png"
        alt=""
      />
    </div>
    <div>
      <div class="flex justify-between">
        <div>
          <div class="flex items-center">
            <p
              class="font-medium text-xs text-secondary mr-1 sm:text-base sm:mr-2"
            >
              Alena Siphron
            </p>
            <p class="text-custom2 text-[10px] font-normal sm:text-xs">
              Today at 05:52
            </p>
          </div>
          <p
            class="text-[10px] text-custom1 font-normal pt-[2px] sm:pt-0 sm:text-sm"
          >
            @thomas2345
          </p>
        </div>
        <button class="w-[18px] h-[18px] flex items-center justify-center">
          <img
            class="h-full w-full"
            src="/assets/icon/home/v-menu.svg"
            alt=""
          />
        </button>
      </div>
      <p
        class="text-xs text-secondary font-normal leading-[19.2px] sm:leading-[25.6px] mt-1 sm:text-base"
      >
        As the final buzzer sounds, echoing through the neighborhood, the court
        transforms into a stage where the spirit of competition and camaraderie
        thrives.
      </p>
    </div>
  </div>
  <!-- DISCUSSION CARD -->

  <!-- DISCUSSION CARD -->
  <div class="flex mb-5">
    <div
      class="rounded flex-shrink-0 overflow-hidden mr-1 h-6 w-6 sm:h-10 sm:w-10"
    >
      <img
        class="h-full w-full object-cover"
        src="/assets/images/home/placeholder-3.png"
        alt=""
      />
    </div>
    <div>
      <div class="flex justify-between">
        <div>
          <div class="flex items-center">
            <p
              class="font-medium text-xs text-secondary mr-1 sm:text-base sm:mr-2"
            >
              Alena Siphron
            </p>
            <p class="text-custom2 text-[10px] font-normal sm:text-xs">
              Today at 01:52
            </p>
          </div>
          <p
            class="text-[10px] text-custom1 font-normal pt-[2px] sm:pt-0 sm:text-sm"
          >
            @thomas2345
          </p>
        </div>
        <button class="w-[18px] h-[18px] flex items-center justify-center">
          <img
            class="h-full w-full"
            src="/assets/icon/home/v-menu.svg"
            alt=""
          />
        </button>
      </div>
      <p
        class="text-xs text-secondary font-normal leading-[19.2px] sm:leading-[25.6px] mt-1 sm:text-base"
      >
        As the final buzzer sounds, echoing through the neighborhood, the court
        transforms into a stage where the spirit of competition and camaraderie
        thrives.
      </p>
    </div>
  </div>
  <!-- DISCUSSION CARD -->
</div>
