<div class="w-full">
  <div
    class="border-b border-custom6 mb-5 mx-5 pt-5 pb-2 sm:mb-7 sm:pb-5 sm:ml-0"
  >
    <p
      class="uppercase text-sm text-custom4 font-normal sm:text-base"
    >
      active communities
    </p>
    <button class="open-create-com-dia flex items-center h-10 mt-3 mb-1">
      <div
        class="flex items-center justify-center h-8 w-8 mr-1 sm:h-10 sm:w-10"
      >
        <img class="h-5 w-5" src="/assets/icon/home/add.svg" alt="" />
      </div>
      <p class="text-sm text-custom2 font-normal sm:text-base">
        Create a community
      </p>
    </button>

    <div class="flex items-center h-[73px]">
      <div
        class="rounded-full flex items-center font-bold text-secondary justify-center bg-custom6 mr-2 h-10 w-10 text-xl sm:text-base sm:text-[20px]"
      >
        N
      </div>
      <div>
        <p
          class="font-medium text-secondary leading-[16.8px] text-sm sm:leading-[22.4px] sm:text-base"
        >
          Newbie Artists
        </p>
        <p
          class="mt-[2px] text-xs font-normal text-custom2 leading-[16.8px] sm:leading-[19.6px] sm:mt-1 sm:text-sm"
        >
          24k Members
        </p>
      </div>
    </div>

    <div class="flex items-center h-[73px]">
      <div
        class="rounded-full flex items-center font-bold text-secondary justify-center bg-custom6 mr-2 h-10 w-10 text-xl sm:text-base sm:text-[20px]"
      >
        N
      </div>
      <div>
        <p
          class="font-medium text-secondary leading-[16.8px] text-sm sm:leading-[22.4px] sm:text-base"
        >
          Art Hub
        </p>
        <p
          class="mt-[2px] text-xs font-normal text-custom2 leading-[16.8px] sm:leading-[19.6px] sm:mt-1 sm:text-sm"
        >
          29k Members
        </p>
      </div>
    </div>

    <div class="flex items-center h-[73px]">
      <div
        class="rounded-full flex items-center font-bold text-secondary justify-center bg-custom6 mr-2 h-10 w-10 text-xl sm:text-base sm:text-[20px]"
      >
        N
      </div>
      <div>
        <p
          class="font-medium text-secondary leading-[16.8px] text-sm sm:leading-[22.4px] sm:text-base"
        >
          Art Hub
        </p>
        <p
          class="mt-[2px] text-xs font-normal text-custom2 leading-[16.8px] sm:leading-[19.6px] sm:mt-1 sm:text-sm"
        >
          29k Members
        </p>
      </div>
    </div>

    <div class="flex items-center h-[73px]">
      <div
        class="rounded-full flex items-center font-bold text-secondary justify-center bg-custom6 mr-2 h-10 w-10 text-xl sm:text-base sm:text-[20px]"
      >
        T
      </div>
      <div>
        <p
          class="font-medium text-secondary leading-[16.8px] text-sm sm:leading-[22.4px] sm:text-base"
        >
          Cultural Practices
        </p>
        <p
          class="mt-[2px] text-xs font-normal text-custom2 leading-[16.8px] sm:leading-[19.6px] sm:mt-1 sm:text-sm"
        >
          1.4M Members
        </p>
      </div>
    </div>
  </div>
</div>