<div class="my-5">
  <p class="text-custom4 text-sm font-normal">80 Members</p>
  <div class="flex justify-between items-center h-[66px]">
    <div class="flex items-center">
      <div class="h-10 w-10 relative">
        <div class="h-full w-full rounded-full overflow-hidden">
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/placeholder-1.png"
            alt=""
          />
        </div>
        <div
          class="h-2 w-2 rounded-full bg-custom17 absolute bottom-[1px] right-[1px]"
        ></div>
      </div>
      <div class="ml-2">
        <p class="text-sm font-medium text-secondary leading-[19.6px]">
          Maren Mango
        </p>
        <p class="text-custom4 font-normal text-sm leading-[19.6px]">
          @chi1234
        </p>
      </div>
    </div>
    <button class="h-9 px-2 text-sm flex items-center font-bold text-custom3">
      Admin
    </button>
  </div>

  <div class="flex justify-between items-center h-[66px]">
    <div class="flex items-center">
      <div class="h-10 w-10 relative">
        <div class="h-full w-full rounded-full overflow-hidden">
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/placeholder-1.png"
            alt=""
          />
        </div>
        <div
          class="h-2 w-2 rounded-full bg-custom17 absolute bottom-[1px] right-[1px]"
        ></div>
      </div>
      <div class="ml-2">
        <p class="text-sm font-medium text-secondary leading-[19.6px]">
          Alena Dokidis
        </p>
        <p class="text-custom4 font-normal text-sm leading-[19.6px]">
          @chi1234
        </p>
      </div>
    </div>
    <button class="h-9 px-2 text-sm flex items-center font-bold text-custom3">
      Admin
    </button>
  </div>

  <div class="flex justify-between items-center h-[66px]">
    <div class="flex items-center">
      <div class="h-10 w-10 relative">
        <div class="h-full w-full rounded-full overflow-hidden">
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/placeholder-1.png"
            alt=""
          />
        </div>
        <div
          class="h-2 w-2 rounded-full bg-custom17 absolute bottom-[1px] right-[1px]"
        ></div>
      </div>
      <div class="ml-2">
        <p class="text-sm font-medium text-secondary leading-[19.6px]">
          Corey Saris
        </p>
        <p class="text-custom4 font-normal text-sm leading-[19.6px]">
          @chi1234
        </p>
      </div>
    </div>
    <button class="h-9 px-2 text-sm flex items-center font-bold text-custom3">
      Admin
    </button>
  </div>

  <div class="flex justify-between items-center h-[66px]">
    <div class="flex items-center">
      <div class="h-10 w-10 relative">
        <div class="h-full w-full rounded-full overflow-hidden">
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/placeholder-1.png"
            alt=""
          />
        </div>
        <div
          class="h-2 w-2 rounded-full bg-custom17 absolute bottom-[1px] right-[1px]"
        ></div>
      </div>
      <div class="ml-2">
        <p class="text-sm font-medium text-secondary leading-[19.6px]">
          Dulce Lubin
        </p>
        <p class="text-custom4 font-normal text-sm leading-[19.6px]">
          @chi1234
        </p>
      </div>
    </div>
    <button class="h-9 px-2 text-sm flex items-center font-normal text-custom4">
      Members
    </button>
  </div>

  <div class="flex justify-between items-center h-[66px]">
    <div class="flex items-center">
      <div class="h-10 w-10 relative">
        <div class="h-full w-full rounded-full overflow-hidden">
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/placeholder-1.png"
            alt=""
          />
        </div>
        <div
          class="h-2 w-2 rounded-full bg-custom17 absolute bottom-[1px] right-[1px]"
        ></div>
      </div>
      <div class="ml-2">
        <p class="text-sm font-medium text-secondary leading-[19.6px]">
          Chance Herwitz
        </p>
        <p class="text-custom4 font-normal text-sm leading-[19.6px]">
          @chi1234
        </p>
      </div>
    </div>
    <button class="h-9 px-2 text-sm flex items-center font-normal text-custom4">
      Members
    </button>
  </div>

  <div class="flex justify-between items-center h-[66px]">
    <div class="flex items-center">
      <div class="h-10 w-10 relative">
        <div class="h-full w-full rounded-full overflow-hidden">
          <img
            class="h-full w-full object-cover"
            src="/assets/images/home/placeholder-1.png"
            alt=""
          />
        </div>
        <div
          class="h-2 w-2 rounded-full bg-custom17 absolute bottom-[1px] right-[1px]"
        ></div>
      </div>
      <div class="ml-2">
        <p class="text-sm font-medium text-secondary leading-[19.6px]">
          Ruben Vaccaro
        </p>
        <p class="text-custom4 font-normal text-sm leading-[19.6px]">
          @chi1234
        </p>
      </div>
    </div>
    <button class="h-9 px-2 text-sm flex items-center font-normal text-custom4">
      Members
    </button>
  </div>
</div>
