<div>
  <p
    class="font-bold text-base leading-[22.4px] text-white sm:leading-[28px] sm:text-base"
  >
    Alena's Social links
  </p>
  <button
    class="h-9 flex items-center gap-x-2 hover:scale-110 transition duration-500"
  >
    <div class="h-5 w-5">
      <img
        class="h-full w-full"
        src="/assets/icon/socials/instagram.svg"
        alt=""
      />
    </div>
    <p class="text-sm text-custom4 font-medium">Instagram</p>
    <div class="h-5 w-5">
      <img class="h-full w-full" src="/assets/icon/arrow-outward.svg" alt="" />
    </div>
  </button>
  <button
    class="h-9 flex items-center gap-x-2 hover:scale-110 transition duration-500"
  >
    <div class="h-5 w-[28.33px]">
      <img
        class="h-full w-full"
        src="/assets/icon/socials/youtube.svg"
        alt=""
      />
    </div>
    <p class="text-sm text-custom4 font-medium">YouTube</p>
    <div class="h-5 w-5">
      <img class="h-full w-full" src="/assets/icon/arrow-outward.svg" alt="" />
    </div>
  </button>
  <button
    class="h-9 flex items-center gap-x-2 hover:scale-110 transition duration-500"
  >
    <div class="h-5 w-[17.66px]">
      <img class="h-full w-full" src="/assets/icon/socials/tiktok.svg" alt="" />
    </div>
    <p class="text-sm text-custom4 font-medium">TikTok</p>
    <div class="h-5 w-5">
      <img class="h-full w-full" src="/assets/icon/arrow-outward.svg" alt="" />
    </div>
  </button>
</div>
