<div
  class="h-[33px] sticky z-30 top-0 bg-primary right-0 left-0 flex items-end border-b border-custom6 mt-4 px-4 sm:px-8 sm:h-[38px]"
>
  <button
    id="vidoBtn"
    class="border-b-2 border-custom2 font-bold text-secondary hover:text-secondary flex-1 h-[25px] text-xs px-2 sm:text-base sm:h-[30px]"
  >
    Videos
  </button>
  <button
    id="discussionBtn"
    class="mx-3 font-normal hover:text-secondary text-custom2 h-[25px] text-xs sm:text-base flex-1 px-2 sm:h-[30px]"
  >
    Groups
  </button>
</div>
