<section class="flex-1 hidden items-center justify-center size1:flex">
  <div class="max-w-[450px] px-3 m-auto">
    <div class="w-[146px] h-[120px] mb-5 mx-auto">
      <img
        class="h-full w-full"
        src="/assets/images/message/no-message-illustration.svg"
        alt=""
      />
    </div>
    <p class="text-center font-bold text-white mb-[2px]">Messages</p>
    <p class="text-center leading-[25.6px] text-custom4">
      Select your existing conversations or click the “+” on the top right bar
      to start sending messages to friends
    </p>
  </div>
</section>
