<div
  id="abtSection"
  class="content hidden opacity-0 transition-opacity duration-1000 mt-4 h-full flex-1 px-4 sm:px-[30px]"
>
  <div class="border-b border-custom6 pb-3 mb-3 sm:mb-5 sm:pb-5">
    <p class="text-secondary text-xs text-bold mb-2 sm:text-base">
      Channel Description
    </p>
    <p
      class="text-custom4 font-normal leading-[19.2px] sm:leading-[25.6px] text-xs sm:text-base"
    >
      The group is designed for beginners who are eager to learn and master
      digital art software, including popular tools like Photoshop, Procreate,
      and Illustrator. It provides a supportive environment where newcomers can
      explore the fundamentals of digital illustration, graphic design, and
      photo editing. The focus is on helping users develop their skills,
      understand the interface, and create stunning digital artwork, whether
      they are aspiring to be professional artists or simply pursuing a creative
      hobby.
    </p>
    <div class="mt-2 flex mb-3 sm:mt-[14px]">
      <p class="text-custom4 text-xs font-normal mr-2 sm:text-base">Tags:</p>
      <p class="text-xs text-secondary font-normal sm:text-base">
        Design . Programming
      </p>
    </div>
    <p class="text-xs text-custom4 font-normal sm:text-base">
      Created on 2nd September 2024 by:
      <span class="text-secondary">Macdonald</span>
    </p>
  </div>

  <div>
    <p class="text-white font-bold text-sm mb-2 sm:mb-[14px] sm:text-xl">
      Group Rules
    </p>
    <div
      class="flex font-normal text-custom4 mb-2 text-xs leading-[19.2px] sm:leading-[25.6px] sm:text-base sm:mb-3"
    >
      <p class="text-white font-bold mr-2">1.</p>
      <p>
        <span class="text-white font-bold mr-1">Respect and Kindness:</span
        >Always treat fellow members with respect and kindness. Harassment, hate
        speech, or any form of discrimination will not be tolerated.
      </p>
    </div>
    <div
      class="flex font-normal text-custom4 mb-2 text-xs leading-[19.2px] sm:leading-[25.6px] sm:text-base sm:mb-3"
    >
      <p class="text-white font-bold mr-2">2.</p>
      <p>
        <span class="text-white font-bold mr-1">Stay On Topic:</span>Ensure your
        posts and comments are relevant to the group's focus. Off-topic
        discussions may be removed.
      </p>
    </div>
    <div
      class="flex font-normal text-custom4 mb-2 text-xs leading-[19.2px] sm:leading-[25.6px] sm:text-base sm:mb-3"
    >
      <p class="text-white font-bold mr-2">3.</p>
      <p>
        <span class="text-white font-bold mr-1">No Spamming:</span> Avoid
        posting spam, promotional content, or irrelevant links. Keep the
        conversation meaningful and valuable.
      </p>
    </div>
    <div
      class="flex font-normal text-custom4 mb-2 text-xs leading-[19.2px] sm:leading-[25.6px] sm:text-base sm:mb-3"
    >
      <p class="text-white font-bold mr-2">4.</p>
      <p>
        <span class="text-white font-bold mr-1">Constructive Criticism:</span
        >When providing feedback, make sure it's constructive and helpful. We
        encourage growth through positive and actionable suggestions.
      </p>
    </div>
    <div
      class="flex font-normal text-custom4 mb-2 text-xs leading-[19.2px] sm:leading-[25.6px] sm:text-base sm:mb-3"
    >
      <p class="text-white font-bold mr-2">5.</p>
      <p>
        <span class="text-white font-bold mr-1">Protect Privacy:</span>Do not
        share personal information (yours or others') publicly. Respect each
        member's privacy.
      </p>
    </div>
    <div
      class="flex font-normal text-custom4 mb-2 text-xs leading-[19.2px] sm:leading-[25.6px] sm:text-base sm:mb-3"
    >
      <p class="text-white font-bold mr-2">6.</p>
      <p>
        <span class="text-white font-bold mr-1">No Plagiarism:</span>Share
        original content or credit the rightful owner. Plagiarism is not allowed
        and may lead to removal from the group.
      </p>
    </div>
    <div
      class="flex font-normal text-custom4 mb-2 text-xs leading-[19.2px] sm:leading-[25.6px] sm:text-base sm:mb-3"
    >
      <p class="text-white font-bold mr-2">7.</p>
      <p>
        <span class="text-white font-bold mr-1">Report Issues:</span>If you
        notice any behavior that violates these rules, report it to the
        moderators. Let's work together to maintain a healthy community.
      </p>
    </div>
  </div>
</div>
