<div class="flex w-full justify-start mb-4">
  <div class="flex-shrink-0 h-6 w-6 rounded overflow-hidden sm:h-10 sm:w-10">
    <img
      class="w-full h-full"
      src="/assets/images/home/placeholder-5.png"
      alt=""
    />
  </div>
  <div
    class="flex flex-col justify-start items-start gap-y-1 ml-[11px] sm:ml-3"
  >
    <div class="flex items-start justify-start">
      <div
        class="font-normal text-xs text-custom18 p-[10px] rounded-tr-lg rounded-br-lg rounded-bl-lg mr-3 max-w-[90%] border border-custom6 bg-custom21 sm:max-w-[70%] sm:text-base sm:p-5"
      >
        <p>Macdonald sent you an engagement</p>
        <div class="p-2 bg-custom20 mt-3 rounded-xl sm:p-3">
          <p
            class="text-secondary font-medium leading-[16.8px] sm:leading-[22.4px] text-xs sm:text-base"
          >
            Top 10 best footballers during the world cup 2022
          </p>
          <div
            class="rounded relative object-cover w-full overflow-hidde my-2 sm:my-3 h-[140px] sm:h-[200px]"
          >
            <img
              class="h-full w-full object-cover"
              src="/assets/images/message/engagement-placeholder.svg"
              alt=""
            />
            <div
              class="absolute top-2 left-2 flex items-center justify-center h-[22px] w-9 bg-custom10 rounded-[20px] backdrop-blur-8 overflow-hidden sm:top-3 sm:left-3 sm:w-[58px] sm:h-10"
            >
              <img
                class="w-5 h-[14px] sm:w-[34px] sm:h-6"
                src="/assets/icon/socials/youtube.svg"
                alt=""
              />
            </div>
          </div>
          <div class="flex h-[33px] gap-x-3 text-secondary text-xs">
            <button
              class="h-full w-full border rounded-[32px] flex items-center justify-center"
            >
              Verify
            </button>
            <button
              class="h-full w-full rounded-[32px] flex items-center justify-center bg-custom3"
            >
              Engage back
            </button>
          </div>
        </div>
      </div>
      <button class="h-7 w-4">
        <img src="/assets/icon/menu-v.svg" alt="" />
      </button>
    </div>

    <p class="text-custom19 font-normal text-sm">10:30 AM</p>
  </div>
</div>
