 <!-- HEADER START -->
 <header class="w-full px-4 border-b border-custom6 flex justify-start h-[46px] items-center sm:px-5">
         
    <button
      class="h-[18px] w-[9px] flex items-center justify-center mr-2 sm:h-5 sm:w-[10px]"
    >
      <img
        class="w-full h-full"
        src="/assets/icon/back-outlined-left.svg"
      />
    </button>
    <p
      class="font-medium text-white text-sm sm:text-xl"
    >
      Engagement request
    </p>
 
</header>
<!-- HEADER END -->

<div
  class="flex-1 pt-3 overflow-y-auto overflow-x-hidden space-y-[13px] w-full"
>

<!-- READ ENGAGEMENT CARD START -->
<div
class="flex items-center h-[57px] justify-between w-full px-4 m:px-5 sm:h-[78px]"
>
<div class="h-full flex items-center mr-[15px] w-full">
  <div
    class="h-2 w-2 flex-shrink-0 rounded-full mr-2 sm:mr-4"
  ></div>
  <div class="h-10 w-10 flex-shrink-0 rounded-full mr-2">
    <img src="/assets/images/home/placeholder-4.png" alt="" />
  </div>
  <div
    class="text-sm text-custom4 font-medium w-52 whitespace-nowrap overflow-hidden text-ellipsis sm:text-base"
  >
    <p class="whitespace-nowrap overflow-hidden text-ellipsis">
      Leo Westervelt
    </p>
    <p class="whitespace-nowrap overflow-hidden text-ellipsis">
      sent you an engagement
    </p>
  </div>
</div>
<div class="text-xs font-normal text-custom4">
  <p class="mb-[3px]">Today</p>
  <p>09:20am</p>
</div>
</div>
<!-- READ ENGAGEMENT CARD END -->
  <!-- READ ENGAGEMENT CARD START -->
  <div
    class="flex items-center h-[57px] justify-between w-full sm:h-[78px] px-4 sm:px-5"
  >
    <div class="h-full flex items-center mr-[15px] w-full">
      <div
        class="h-2 w-2 flex-shrink-0 rounded-full bg-custom3 mr-2 sm:mr-4"
      ></div>
      <div class="h-10 w-10 flex-shrink-0 rounded-full mr-2">
        <img src="/assets/images/home/placeholder-4.png" alt="" />
      </div>
      <div
        class="text-sm text-secondary font-medium w-52 whitespace-nowrap overflow-hidden text-ellipsis sm:text-base"
      >
        <p class="whitespace-nowrap overflow-hidden text-ellipsis">
          Maria Ekstrom Bothman
        </p>
        <p class="whitespace-nowrap overflow-hidden text-ellipsis">
          sent you an engagement
        </p>
      </div>
    </div>
    <div class="text-xs font-normal text-custom4">
      <p class="mb-[3px]">Today</p>
      <p>09:20am</p>
    </div>
  </div>
  <!-- READ ENGAGEMENT CARD END -->

  <!-- UNREAD ENGAGEMENT CARD START -->
  <div
    class="flex items-center h-[57px] justify-between w-full px-4 sm:px-5 sm:h-[78px]"
  >
    <div class="h-full flex items-center mr-[15px] w-full">
      <div
        class="h-2 w-2 flex-shrink-0 rounded-full bg-custom3 mr-2 sm:mr-4"
      ></div>
      <div class="h-10 w-10 flex-shrink-0 rounded-full mr-2">
        <img src="/assets/images/home/placeholder-5.png" alt="" />
      </div>
      <div
        class="text-sm text-custom4 font-medium w-52 whitespace-nowrap overflow-hidden text-ellipsis sm:text-base"
      >
        <p class="whitespace-nowrap overflow-hidden text-ellipsis">
          Talan Donin
        </p>
        <p class="whitespace-nowrap overflow-hidden text-ellipsis">
          sent you an engagement
        </p>
      </div>
    </div>
    <div class="text-xs font-normal text-custom4">
      <p class="mb-[3px]">Today</p>
      <p>09:20am</p>
    </div>
  </div>
  <!-- UNREAD ENGAGEMENT CARD END -->

  <!-- READ ENGAGEMENT CARD START -->
  <div
    class="flex items-center h-[57px] justify-between w-full px-4 sm:px-5 sm:h-[78px]"
  >
    <div class="h-full flex items-center mr-[15px] w-full">
      <div
        class="h-2 w-2 flex-shrink-0 rounded-full bg-custom3 mr-2 sm:mr-4"
      ></div>
      <div class="h-10 w-10 flex-shrink-0 rounded-full mr-2">
        <img src="/assets/images/home/placeholder-2.png" alt="" />
      </div>
      <div
        class="text-sm text-secondary font-medium w-52 whitespace-nowrap overflow-hidden text-ellipsis sm:text-base"
      >
        <p class="whitespace-nowrap overflow-hidden text-ellipsis">
          Maria Rhiel Madsen
        </p>
        <p class="whitespace-nowrap overflow-hidden text-ellipsis">
          sent you an engagement
        </p>
      </div>
    </div>
    <div class="text-xs font-normal text-custom4">
      <p class="mb-[3px]">Today</p>
      <p>09:20am</p>
    </div>
  </div>