<div
  class="flex items-center bg-custom9 h-[57px] justify-between w-full px-4 border-r-[3px] border-custom3 sm:px-5 sm:h-[78px]"
>
  <div class="h-full flex items-center mr-[15px] w-full">
    <div
      class="h-2 w-2 flex-shrink-0 rounded-full bg-custom3 mr-2 sm:mr-4"
    ></div>
    <div class="h-10 w-10 flex-shrink-0 rounded-full mr-2">
      <img src="/assets/images/home/placeholder-4.png" alt="" />
    </div>
    <div
      class="text-sm text-secondary font-medium w-52 whitespace-nowrap overflow-hidden text-ellipsis sm:text-base"
    >
      <p class="whitespace-nowrap overflow-hidden text-ellipsis">
        Leo Westervelt
      </p>
      <p class="whitespace-nowrap overflow-hidden text-ellipsis">
        sent you an engagement
      </p>
    </div>
  </div>
  <div class="text-xs font-normal text-custom4">
    <p class="mb-[3px]">Today</p>
    <p>09:20am</p>
  </div>
</div>
