<div
  id="error-back-drop"
  class="inset-y-0 fixed backdrop hidden z-40 h-screen w-screen bg-custom12 top-0 left-0"
></div>
<div
  id="error-dialog"
  class="dialog hidden z-40 m-auto px-mpd w-full sm:px-0 sm:max-w-[464px]"
>
  <div
    class="backdrop-blur-40 z-50 rounded-[24px] p-5 bg-custom15 border-custom1 border-[0.5px] w-full sm:p-8"
  >
    <div class="h-16 w-16 mx-auto mb-7 sm:mb-5 sm:h-24 sm:w-24">
      <img class="h-full w-full" src="/assets/logo/logo.svg" />
    </div>
    <p
      class="font-medium text-center text-secondary mx-auto text-base mb-3 max-w-[311px] sm:mb-4 sm:text-2xl"
    >
      Error! Something went wrong
    </p>
    <p class="text-center text-xs font-normal text-custom2 sm:text-xl">
      We are sorry you have experienced some problems, Please try again
    </p>
    <button
      class="outline-none shadow-combined h-[41px] mt-4 rounded-[40px] text-custom9 bg-secondary w-full text-xs sm:text-sm sm:h-[44px] sm:mt-5 transition-transform duration-200 hover:translate-y-[-2px] hover:shadow-lg"
    >
      Try Again
    </button>

    <button
      id="close-error-dialog"
      class="outline-none h-[41px] mt-4 rounded-[40px] text-custom2 w-full text-xs sm:text-sm sm:h-[44px] transition-transform duration-200 hover:translate-y-[-2px] hover:shadow-lg sm:mb-0"
    >
      Cancel
    </button>
  </div>
</div>
