<header
  class="w-full h-[52px] flex items-center border-b border-custom6 px-4 justify-between size4:justify-start sm:px-10 sm:h-[84px]"
>
  <button
    id="hb-btn"
    class="h-8 w-8 flex items-center justify-center mr-1 size4:hidden"
  >
    <img class="w-full h-full" src="/assets/logo/logo.svg" />
  </button>
  <p class="text-white font-medium text-base sm:text-xl">Notifications</p>
  <div class="h-6 w-6 block size4:hidden">
    <img
      class="h-full w-full"
      src="/assets/icon/nav/settings-active.svg"
      alt=""
    />
  </div>
</header>
