<div
  class="px-4 flex justify-between items-center bg-custom9 h-11 sm:h-14 sm:px-10 transition-transform transform -translate-y-10 opacity-0 animate-slideIn"
>
  <p class="text-white font-medium text-sm sm:text-base">
    Notification deleted.
  </p>
  <button
    class="flex items-center px-2 h-7 gap-x-1 rounded-xl bg-custom6 sm:gap-x-2 sm:h-8"
  >
    <div class="h-5 w-5 sm:h-6 sm:w-6">
      <img class="h-full w-full" src="/assets/icon/undo.svg" alt="" />
    </div>
    <p class="font-medium text-custom2 text-xs sm:text-sm">undo</p>
  </button>
</div>
