<div
  id="contentCommunities"
  class="text-white content hidden opacity-0 transition-opacity duration-1000 flex-col flex-1 pb-32 overflow-y-auto"
>
  <!-- SUPER ENGAGEMENT CARD START -->
  <div class="w-full mx-auto px-4 py-3 sm:py-5 sm:pr-10 sm:pl-10">
    <div class="w-full">
      <div class="flex">
        <div
          class="rounded-full flex-shrink-0 overflow-hidden mr-2 h-6 w-6 sm:h-12 sm:w-12 sm:mr-3"
        >
          <img
            class="w-full h-full object-cover"
            src="/assets/images/home/placeholder-8.png"
            alt=""
          />
        </div>
        <div>
          <div class="flex justify-between">
            <div class="flex flex-col space-y-1">
              <p
                class="text-white font-medium text-xs leading-[16.8px] sm:leading-[22.4px] sm:text-base"
              >
                Macdonald Anyanwu sent engagement on your post
              </p>
              <p class="font-medium text-custom4 text-sm">6:00am</p>
            </div>

            <div class="relative group">
              <button
                class="menuButton h-5 w-5 ml-5 sm:ml-[10px] sm:w-6 sm:h-6"
              >
                <img
                  class="h-full w-full"
                  src="/assets/icon/menu-h.svg"
                  alt=""
                />
              </button>
              <div
                class="tooltip absolute w-[184px] right-0 top-3 z-10 mt-2 opacity-0 invisible font-normal text-base transform scale-95 transition-all duration-300 ease-out bg-custom9 text-custom2 px-3 rounded-xl"
              >
                <button
                  class="cursor-pointer w-full repo-vid flex items-center space-x-2 h-9 sm:h-[46px]"
                >
                  <div class="h-5 w-5 sm:h-6 sm:w-6">
                    <img
                      class="h-full w-full"
                      src="/assets/icon/delete-outline.svg"
                      alt=""
                    />
                  </div>
                  <p
                    class="font-medium text-custom2 mt-[1px] truncate leading-none text-xs sm:text-base"
                  >
                    Delete post
                  </p>
                </button>
              </div>
            </div>
          </div>
          <div
            class="rounded-xl border border-custom6 flex flex-col gap-y-3 mt-2 p-[6px] sm:p-2 sm:mt-3 sm:mr-14"
          >
            <p
              class="font-normal text-custom2 text-sm leading-[16.8px] sm:leading-[22.4px] sm:text-base"
            >
              As the final buzzer sounds, echoing through the neighborhood, the
              court transforms into a stage where the spirit of competition and
              camaraderie thrives.
            </p>
            <div
              class="border border-custom6 rounded-lg p-1 sm:p-2 h-[183px] sm:h-[216px]"
            >
              <div class="h-full w-full relative rounded-[4px] overflow-hidden">
                <div
                  class="absolute top-0 right-0 h-full w-full bg-custom21 opacity-40"
                ></div>
                <p
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-secondary truncate text-xs sm:text-xl"
                >
                  Screen shot of engagement
                </p>

                <img
                  class="h-full w-full object-cover"
                  src="/assets/images/home/video-placeholder.png"
                  alt=""
                />
              </div>
            </div>
            <button
              class="w-full flex items-center justify-center border border-custom6 rounded-[40px] font-medium text-white text-xs h-[33px] sm:text-sm sm:h-11"
            >
              Engage back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SUPER ENGAGEMENT CARD STOP -->

  <!-- SUPER ENGAGEMENT CARD START -->
  <div class="w-full mx-auto px-4 py-3 sm:py-5 sm:pr-10 sm:pl-10">
    <div class="w-full">
      <div class="flex">
        <div
          class="rounded-full flex-shrink-0 overflow-hidden mr-2 h-6 w-6 sm:h-12 sm:w-12 sm:mr-3"
        >
          <img
            class="w-full h-full object-cover"
            src="/assets/images/home/placeholder-8.png"
            alt=""
          />
        </div>
        <div>
          <div class="flex justify-between">
            <div class="flex flex-col space-y-1">
              <p
                class="text-white font-medium text-xs leading-[16.8px] sm:leading-[22.4px] sm:text-base"
              >
                Macdonald Anyanwu sent engagement on your post
              </p>
              <p class="font-medium text-custom4 text-sm">6:00am</p>
            </div>

            <div class="relative group">
              <button
                class="menuButton h-5 w-5 ml-5 sm:ml-[10px] sm:w-6 sm:h-6"
              >
                <img
                  class="h-full w-full"
                  src="/assets/icon/menu-h.svg"
                  alt=""
                />
              </button>
              <div
                class="tooltip absolute w-[184px] right-0 top-3 z-10 mt-2 opacity-0 invisible font-normal text-base transform scale-95 transition-all duration-300 ease-out bg-custom9 text-custom2 px-3 rounded-xl"
              >
                <button
                  class="cursor-pointer w-full repo-vid flex items-center space-x-2 h-9 sm:h-[46px]"
                >
                  <div class="h-5 w-5 sm:h-6 sm:w-6">
                    <img
                      class="h-full w-full"
                      src="/assets/icon/delete-outline.svg"
                      alt=""
                    />
                  </div>
                  <p
                    class="font-medium text-custom2 mt-[1px] truncate leading-none text-xs sm:text-base"
                  >
                    Delete post
                  </p>
                </button>
              </div>
            </div>
          </div>
          <div
            class="rounded-xl border border-custom6 flex flex-col gap-y-3 mt-2 p-[6px] sm:p-2 sm:mt-3 sm:mr-14"
          >
            <p
              class="font-normal text-custom2 text-sm leading-[16.8px] sm:leading-[22.4px] sm:text-base"
            >
              As the final buzzer sounds, echoing through the neighborhood, the
              court transforms into a stage where the spirit of competition and
              camaraderie thrives.
            </p>
            <div
              class="border border-custom6 rounded-lg p-1 sm:p-2 h-[183px] sm:h-[216px]"
            >
              <div class="h-full w-full relative rounded-[4px] overflow-hidden">
                <div
                  class="absolute top-0 right-0 h-full w-full bg-custom21 opacity-40"
                ></div>
                <p
                  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-secondary truncate text-xs sm:text-xl"
                >
                  Screen shot of engagement
                </p>

                <img
                  class="h-full w-full object-cover"
                  src="/assets/images/home/video-placeholder.png"
                  alt=""
                />
              </div>
            </div>
            <button
              class="w-full flex items-center justify-center border border-custom6 rounded-[40px] font-medium text-white text-xs h-[33px] sm:text-sm sm:h-11"
            >
              Engage back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SUPER ENGAGEMENT CARD STOP -->
</div>
